<nav class="border rounded divide-y">
  <div class="p-1"><%= link_to "home", root_path %></div>
  <div class="p-1"><%= link_to "shopping cart", components_shopping_cart_path %></div>
  <div class="p-1"><%= link_to "user reviews", components_user_review_path %></div>
  <div class="p-1"><%= link_to "bank withdrawal/deposit", components_bank_account_path %></div>
</nav>
