<div class="h-48">
  <%= text_area_tag :logs, @bank_account.logs.to_s.split("\n").reverse.join("\n").presence || BankAccount::NO_LOG, class: "w-full h-full border rounded bg-gray-100 border-blue-500 text-xs" %>
</div>
